include LICENSE
include run.py
include examples/adp_amac_20c/fit.yaml
include examples/adp_amac_20c/fit_preview.png
recursive-include examples/adp_amac_20c/data *.csv
include examples/synthetic/titration.csv
include examples/synthetic/parameters.csv
include examples/synthetic/fit.yaml
include examples/synthetic/fit_preview.png
